{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"  href="{% static 'css/venus.css' %}">
    <link rel="stylesheet"  href="{% static 'css/venus_media.css' %}">
   >
    <title>venus</title>
</head>
<body class="body">
  <a href="{%url 'main-page'%}">
  <button type="button" class=" button1">Главная</button>
  </a>
  <div class="container" >
    
    <div>
        <img src="{% static 'img/venus_img/venus_1.jpg' %}" class="img1">
      <div>
        <p class="text1">Вене́ра — вторая по удалённости от Солнца и шестая по размеру планета Солнечной системы, наряду с Меркурием, Землёй и Марсом принадлежащая к семейству планет земной группы. Названа в честь древнеримской богини любви Венеры[7]. По ряду характеристик — например, по массе и размерам — Венера считается «сестрой» Земли[8]. Венерианский год составляет 224,7 земных суток. Она имеет самый длинный период вращения вокруг своей оси (около 243 земных суток, в среднем 243,0212 ± 0,00006 сут[9]) среди всех планет Солнечной системы и вращается в направлении, противоположном направлению вращения большинства планет.

        Венера не имеет естественных спутников. На земном небе Венера является третьим по яркости светилом после Солнца и Луны. 
      </p >
      </div>
    </div>
    <div>
    <div>
      <img src="{% static 'img/venus_img/venus.jpg' %}" class="img2">
    </div>
    <div class="container2">
      <p class=text2>
        В 1981 году Земля и Венера находились в благоприятном взаимном расположении для запуска космических аппаратов. Через пять суток после старта «Венеры-13» была запущена АМС «Венера-14».

        Через четыре месяца «Венера-13» достигла планеты Венера. От АМС отделился спускаемый аппарат, который 1 марта 1982 года совершил мягкую посадку на поверхности Венеры. «Венера-13» продолжила полёт по гелиоцентрической орбите.

        В результате торможения спускаемый аппарат вошёл в атмосферу Венеры, его скорость снизилась до скорости звука, после этого был раскрыт тормозной парашют. На высоте 47 километров над поверхностью парашют был отстёгнут и спускаемый аппарат продолжил спуск, используя аэродинамическое торможение. Спускаемый аппарат «Венеры-13» совершил посадку на планету в точке с координатами: 7°30′ ю. ш. 303°00′ в. д.[1] Район посадки — область Фебы (Phoebe Regio). Место посадки спускаемого аппарата «Венеры-13» находится в 950 километрах к северо-востоку от места посадки спускаемого аппарата «Венеры-14».

       
      </p>
    </div>
    </div>

    <div>
    <div>
      <img src="{% static 'img/venus_img/venus_2.webp' %}" class="img3">
    </div>
    <div>
      <p class=text3>
        Так как Венера расположена ближе к Солнцу, чем Земля, с Земли можно наблюдать прохождение Венеры по диску Солнца. При этом планета предстаёт в виде маленького чёрного диска на фоне огромного светила. Однако это очень редкое явление: в течение примерно двух с половиной столетий случается четыре прохождения — два декабрьских и два июньских. Последнее произошло 6 июня 2012 года[19]. Следующее прохождение будет 11 декабря 2117 года[20].

        Впервые прохождение Венеры по диску Солнца наблюдали 4 декабря 1639 года английский астроном Иеремия Хоррокс (он же предвычислил дату явления) и его друг и коллега Уильям Крабтри. Наблюдения позволили им уточнить оценку размера Венеры и с наилучшей для своего времени точностью определить расстояние от Земли до Солнца[21].

        Следующее прохождение было предвычислено на 6 июня 1761 года и с нетерпением ожидалось астрономами всего мира. Наблюдение его из разных точек земного шара было необходимо для определения параллакса, позволявшего уточнить расстояние от Земли до Солнца по методу, разработанному английским астрономом Эдмундом Галлеем[22].


        Из публикации М. В. Ломоносова «Явление Венеры на Солнце…». 1761
        Наблюдения этого прохождения производились в 40 пунктах при участии 112 человек. На территории России организатором их был Михаил Васильевич Ломоносов. Результатом его усилий стало направление экспедиции Никиты Ивановича Попова в Иркутск и Степана Яковлевича Румовского — в Селенгинск. Он также добился организации наблюдений при участии Андрея Дмитриевича Красильникова и Николая Гавриловича Курганова в Академической обсерватории Санкт-Петербурга вопреки нежеланию её директора Франца Эпинуса допускать к наблюдению русских учёных. Задачей наблюдателей было точно отметить время контактов Венеры и Солнца — зрительного касания краёв их дисков[22].
      </p>
    </div>
    </div>

</body>
</html>